[user]
	email = cosmin.apreutesei@gmail.com
	name = Cosmin Apreutesei
[push]
	default = simple
[url "ssh://git@github.com/luapower/"]
	insteadOf = https://github.com/luapower/
[url "ssh://git@github.com/capr/"]
	insteadOf = https://github.com/capr/
[url "ssh://git@github.com/allegory-software/"]
	insteadOf = https://github.com/allegory-software/
